*{
    font-family: 'Roboto', sans-serif;
}

.simple{
    width: max-content;
    padding: 10px;
}

.tableResult{
    /* border: 2px solid #ccc; */
    border-collapse: collapse;
}

.tableResult td{
    padding: 5px;
}
.tableResult tr{
    border-bottom: 2px solid #282828;
}