*{
    font-family: 'Roboto', sans-serif;
    --pizza-position-mode : absolute;
    --pizza-size : 200px;
}

.simple{
    width: max-content;
    padding: 10px;
}

.tableResult{
    /* border: 2px solid #ccc; */
    border-collapse: collapse;
}

.tableResult td{
    padding: 5px;
}
.tableResult tr{
    border-bottom: 2px solid #282828;
}


/* Stackoverflow solution */

/* .pizzaBackground {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }  */
  .pizzaContainer {
    height: var(--pizza-size);
    position: relative;
  }

  .pizzaBackground {
    position: absolute;
    width: var(--pizza-size);
    height: var(--pizza-size);
    border-radius: 100%;
  } 
  
  .pizza {
    position: absolute;
    width: var(--pizza-size);
    height: var(--pizza-size);
    border-radius: 100%;
    
  }
  
  .hold {
    width: var(--pizza-size);
    height: var(--pizza-size);
    border-radius: 100%;
    
  }

  .slice:hover{box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);}
